:root {
    --primary-color: #6c63ff;
    --secondary-color: #f5f2fe;
    --info-color: #272142;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    --heading-font: 'Playfair Display', serif;
    --text-font: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    padding: 20px 144px;
    background-color: #F9F7FE;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    position: relative;
    text-decoration: none;
    margin-left: 20px;
}

nav li::before {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    top: 15px;
    left: 15px;
    border: 3px solid var(--info-color);
    border-width: 2px 0 0 2px;
    opacity: 0;
    transition: all .4s;
}

nav li::after {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    opacity: 0;
    border: 3px solid var(--info-color);
    border-width: 0 2px 2px 0;
    transition: all .4s;
}

nav li:hover::before {
    opacity: 1;
    top: 0;
    left: -8px;
}

nav li:hover::after {
    opacity: 1;
    right: -8px;
    bottom: 0;
}

nav li a,
.brand {
    text-decoration: none;
    color: var(--info-color);
    font-family: var(--text-font);
    transition: all .15s ease-in-out;
}

.brand {
    font-size: 20px;
}

nav a:hover {
    color: var(--primary-color);
}

nav li.active a {
    color: var(--primary-color);
}

.food-txt p {
    background: var(--secondary-color);
    padding: 20px;
    color: #272142b7;
    border-radius: 4px;
    font-size: 16px;
    line-height: 2;
    text-align: left;
    font-family: var(--text-font);
}

.content {
    background-color: #F9F7FE;
    text-align: center;
    padding: 170px 20px;
    margin-bottom: 50px;
}

.contact-bg {
    background-color: #F9F7FE;
}


#contact {
    margin-bottom: 50px;
}

h1,
h2,
h3 {
    margin: 0;
}


.first-page-h1,
.second-page-h1 {
    font-family: var(--heading-font);
    font-size: 96px;
    font-weight: bold;

}

.first-page-h2 {
    font-size: 36px;
    color: var(--info-color);
    font-weight: bold;
    font-family: var(--text-font);
}

.info {
    font-size: 24px;
    color: var(--info-color);
    font-family: var(--text-font);
    font-weight: normal;
    margin-bottom: 65px;
}

.btn-branding {
    text-decoration: none;
    font-family: var(--text-font);
    border-radius: 4px;
    background-color: #6C63FF;
    color: white;
    padding: 18px 46px;
    font-size: 18px;
    font-family: var(--text-font);
    transition: all .2s ease-in-out;
}

.btn-branding:hover {
    background-color: white;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.bestProject {
    color: var(--info-color);
    font-size: 18px;
    text-align: center;
}

.container-sec {
    margin-top: 150px;
}


.btns {
    border: 1px solid var(--primary-color);
    box-shadow: var(--box-shadow);
    color: var(--primary-color);
    font-family: var(--text-font);
    border-radius: 4px;
    padding: 18px 30px;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.btns:hover {
    background-color: var(--primary-color);
    color: white;
}

/* .about-link {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
} */

.homepage-link {
    color: var(--primary-color);
    text-align: center;
    display: block;
}

.about-paragraphs {
    display: flex;
    margin: 30px 0;
}

.about-paragraphs p {
    margin: 10px;
}

.scaled:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.email-link {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 28px;
    text-decoration: none;
}

.email-link:hover {
    text-decoration: underline;
}


.food-txt h2 {
    font-size: 50px;
}

.food-txt-btn {
    text-align: start;
}

.titles {
    text-align: left;
    font-family: var(--heading-font);
    font-weight: bold;
}

.app-sec {
    margin-bottom: 100px;
}

.about-sec {
    padding: 100px 20px;
}

.my-img {
    border-radius: 20px;
    width: 450px;
}

.about-title {
    font-family: var(--heading-font);
    font-weight: bold;
    font-size: 64px;
}

.about-info {
    font-family: var(--text-font);
    font-weight: bold;
    font-size: 18px;
    color: var(--info-color);
}

.about-text {
    font-family: var(--text-font);
    font-size: 16px;
    color: #272142be;
}

.about-sec-cont {
    margin: 30px;
}

.about-sec-cont h3 {
    font-size: 24px;
    font-family: var(--text-font);
    font-weight: bold;
    line-height: 1.5;
}

.sub-info p {
    font-family: var(--text-font);
    font-size: 14px;
}

.sub-info img {
    transition: all .2s ease-in-out;
}

.sub-info img:hover {
    transform: scale(1.02);
}

.contact-items {
    text-align: center;
    margin-top: 140px;
}

.contact-items h1 {
    margin-bottom: 30px;

}

.links {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 0;
}


.links li {
    list-style-type: none;
}

.links li a {
    text-decoration: none;
    color: var(--info-color);
    font-size: 13px;
    font-family: var(--text-font);
    transition: all .1s ease-in-out;

}

.links li a:hover {
    color: #7b7598;
}

.links li i {
    font-size: 20px;
    background-color: #b8b6b639;
    color: var(--info-color);
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.links li i:hover {
    background-color: var(--info-color);
    color: #F9F7FE;
}

.email a {
    font-size: 20px;
    font-family: var(--text-font);
    text-decoration: none;
    color: var(--info-color);
    transition: all .1s ease-in-out;
}

.email a:hover {
    color: #7b7598;
}

.email i {
    color: var(--info-color);
}

.contact-box {
    background: var(--secondary-color);
    padding: 30px 160px;
    border-radius: 20px;
}

footer {
    margin: 60px 0;
}

footer h4 {
    font-size: 48px;
    font-family: var(--heading-font);
    font-weight: bold;
}

footer p {
    font-size: 18px;
    font-family: var(--text-font);
    color: var(--info-color);
}

footer .socials a {
    margin: 0 20px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border-radius: 50%;
    font-size: 18px;
    padding: 10px 15px;
    transition: all .2s ease-in-out;
}

footer .socials a:hover {
    color: white;
    background-color: var(--primary-color);
}

.footer-email {
    font-family: var(--text-font);
    text-decoration: none;
    color: black;
    font-size: 24px;
    text-align: center;
}

.footer-email:hover {
    color: var(--primary-color);
}


@media(max-width:576px) {
    nav {
        padding: 10px 0;
    }

    .first-page-h2 {
        font-size: 30px;
        margin-top: 15px;
    }

    .first-page-h1,
    .second-page-h1 {
        font-size: 35px;
    }

    .scaled {
        margin-bottom: 30px;
    }

    .info {
        font-size: 20px;
    }

    #contact h2,
    #contact a,
    .about-info {
        font-size: 17px;
    }

    .food-txt p,
    .food-txt-btn,
    .titles,
    .food-txt {
        text-align: center;
    }

    .food-txt h2 {
        font-size: 30px;
    }

    .launch-links {
        text-align: center;
        font-size: 18px;
    }

    .content {
        padding: 50px 20px;
        margin-bottom: 0px;
        margin-top: 10px;
    }

    .bestProject {
        font-size: 13px;
        margin-top: 40px;
    }

    .container-sec {
        margin-top: 60px;
    }

    .about-sec {
        text-align: center;
        padding: 40px;
    }

    .about-title {
        font-size: 32px;
        margin-bottom: 40px;
    }

    .my-img {
        width: 300px;
        margin-top: 30px;
    }

    .email a {
        font-size: 14px;
    }

    .links li i {
        font-size: 15px;
    }

    .links li a {
        font-size: 10px;
    }

    .contact-items {
        margin-top: 40px;
    }

    footer h4 {
        font-size: 26px;
    }

    footer p {
        font-size: 15px;
    }
    footer{
        margin: 20px;
    }   
    .footer-email {
        font-size: 18px;
    }
}